@charset "utf-8";

main p {
	color: white;
	text-align: center;
}

p + span {
  background-image: url(../images/404/404-error.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 10% auto;
  width: 100px;
  height: 100px;
}