@charset "utf-8";

.vcard {
	color: white;
}

.vcard a {
	color: white;
	text-decoration: underline;
}

form + span {
  background-image: url(../images/contact/contact-book.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 10% auto;
  width: 100px;
  height: 100px;
}