@charset "utf-8";

br + span {
	background-image: url(../images/findability/seo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	margin: auto;
	width: 220px;
	height: 220px;
}

main a {
	color: white;
	display: block;
	width: 220PX;
	margin: auto;
	text-align: center;
}