@charset "utf-8";

#navOne {
  border-bottom-right-radius: unset;
  border-bottom-left-radius: unset;
  border-bottom: 7px solid #ffb142;
}

nav:nth-child(3) li {
  width: 34%;
}

@media only screen and (max-width: 720px) {
  nav:nth-child(3) li {
	width: 100%;
  }
}
