@charset "utf-8";

main h2 + br + span {
	background-image: url(../images/home/goal.png);
	background-size: 100% 100%;
	height: 138px;
	width: 138px;
	display: block;
	margin: auto;
	opacity: 0.3;
}

main p {
	text-align: center;
	background-color: rgb( 255, 203, 26);
	width: 45%;
	margin: auto;
	box-shadow: 0 0 3px cornsilk;
	border-radius: 10px;
	padding: 0.5%;
}

abbr[title] {
	text-decoration: none;
}

main h3 {
	text-align: right;
	color: white;
	width: 100%;
}

section {
	width: 100%;
	padding-bottom: 1.5%;
}

aside {
	float: left;
	width: 31.125%;
	margin: 0 1.5% 0 0;
	text-align: center;
	background-color: rgb( 114, 199, 40);
	box-shadow: 0 0 3px cornsilk;
	border-radius: 10px;
	padding: 3%;
	color: cornsilk;
	height: 355px
}

article {
	text-align: center;
	background-color: rgb( 40, 199, 45);
	width: 53.375%;
	margin: 0 0 0 1.5%;
	box-shadow: 0 0 3px cornsilk;
	border-radius: 10px;
	padding: 3%;
	color: cornsilk;
	float: left;
	height: 195px
}

main section span {
	background-image: url(../images/home/section.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 3px cornsilk;
	float: right;
	margin: 2.5% 18.3% 0 18.3%;
	width: 10.744%;
	padding: 6.989%;
	border-radius: 10px;
}

main section + br + span {
	background-image: url(../images/home/player.png);
	background-size: 100% 100%;
	height: 34px;
	width: 34px;
	display: block;
	margin: auto;
	opacity: 0.3;
}

@media only screen and (max-width: 1024px) {	
	main section span {
		margin: 12.5% auto 0 auto;
		transform: scale(1.75);
		display: block;
		float: none;
		width: 10.75%;  
    }
	aside, article {
		display: block;
		float: none;
		width: 94%;
		margin: 5% 0;		
	}
	article { 
	 	height: initial;
	}	
	aside {
		height: initial;			
	}
}

@media only screen and (max-width: 320px) {	
 	main section span {
	  margin: 17.5% auto 0 auto;
	  transform: scale(2.25);
    }
}
