@charset "utf-8";

@font-face {
  font-family: "Trebuchet MS";
  src: url(./trebuchet-ms.ttf);
}

html {
  -webkit-text-size-adjust: 100%; 
}

body {
  background-image: url("../images/template/b-back.jpg");
  background-size: auto;
  font-family: "Trebuchet MS";
  color: white;
  font-size: large;
  margin: 0;
  padding: 0;
}

.clearfloat {
  font-size: 0px;
  margin: 0px;
  padding: 0px;
  clear: both;
  float: none;
  height: 0px;
  width: 0px;
  border: 0px none;
  line-height: 0px;
}

#outer {
  max-width: 1020px;
  width: 97%;
  margin: auto;
  padding: 1.5%;
}

header {
  height: 75px;
  width: 100%;
  background-color: #ffb142;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  white-space: nowrap;
}

#span1 {
  background-image: url("../images/template/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 14.608%;
  padding-right: 50.392%;
  display: inline-block;
  color: black;
}

#hide {
  position: absolute;
  left: -200vw;
  width: 0;
  height: 0;
  overflow: hidden;
}

#span2 {
  background-image: url("../images/template/football.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 7.353%;
  display: inline-block;
  background-position: right;
  padding-left: 27.1%;
}

nav {
  background-color: #ffda79;
  text-align: center;
  width: 100%;
  padding: 5px 0;
}

nav h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  display: inline;
  font-weight: 500;
  color: black;
}

nav ul ,
footer ul  {
  padding: 0 10px;
  margin: auto;
}

nav li,
footer li {
  list-style-type: none;
  display: inline-block;
  line-height: 30px;
}

nav li:nth-child(7),
footer li:nth-child(7) {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  background-color: dimgray;
  width: 94%;
  margin: 1.5% 0 0 0;
  padding: 3%;
}

main h2,
main h3 {
  text-align: right;
  color: white;
}

footer {
  width: 96%;
  background-color: #ccae62;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  padding: 2%;
  font-size: 0.85em;
}

footer a span {
  background-image: url("https://i.creativecommons.org/l/by/4.0/80x15.png");
  background-size: 100% 100%;
  height: 15px;
  width: 80px;
  display: block;
  margin: 10px auto;
}

.valid {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 1% auto;
  width: 88px;
  height: 31px;
}

.valid:first-of-type {
  background-image: url(../images/template/valid-html.png);
}

.valid:last-of-type {
  background-image: url(../images/template/valid-css.png);
}

@media only screen and (max-width: 720px) {
  body {
    font-size: 1.05em;
  }
  footer {
    font-size: inherit;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 0.85em;
  }
}

@media only screen and (max-width: 240px) {
  body {
    font-size: 0.75em;
  }
}
