@charset "utf-8";

main>span {
	background-image: url(../images/fixtures/stadium.png);
	background-size: 100% 100%;
	height: 138px;
	width: 138px;
	display: block;
	margin: auto;
	opacity: 0.3;
}

table {
	color: white;
}

caption {
	text-align: right;
	margin: 5% 0 10% 0;
}

thead th {
    text-align: right;
	margin: 10% 0;
}

td {
    vertical-align: middle;
    width: 20%;
    padding: 2%;    
}

tbody td p {
    border-bottom: solid 1px white;
    margin: 0;
    padding: 0;
}

tfoot td {
    text-align: center;
	margin: 10% 0;
}




